@use "../abstracts/" as a;

.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  @include a.respond(sevenhundred) {
    justify-content: flex-start;
    margin-top: 3rem;
  }
  &__textarea {
    width: 80%;
    margin: 0.5rem auto;
    @include a.respond(iphone6) {
      width: 100%;
      font-size: 1.8rem;
    }
  }
  .form__error {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
