@use "../abstracts/" as a;

.workexperience {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include a.respond(sevenhundred) {
    margin: 0 1.4rem;
  }
}
