@use "../abstracts/" as a;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  //for troubleshooting spacing issues
  //outline: 1px solid red;
}
html {
  //defines 1rem
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
