$color-white: #fff;
$color-black: #000;

//selected colors
$color-blue: #829cd0;

$color-blue-t50: rgba(129, 155, 207, 0.5);
$color-blue-t75: rgba(129, 155, 207, 0.75);
$color-blue-t85: rgba(129, 155, 207, 0.85);

$color-dark-grey: #404756;
$color-dark-grey-t50: rgba(64, 71, 86, 0.5);
$color-dark-grey-t75: rgba(64, 71, 86, 0.75);

$color-light-grey: #a4abbd;
$color-light-grey-t10: rgba(164, 171, 189, 0.1);
$color-light-grey-t5: rgba(164, 171, 189, 0.05);

$color-light-red: #d08896;
$color-light-red-t50: rgba(208, 136, 150, 0.5);

$color-dark-red: #985563;

//margin and padding
$main-padding: 0 2rem;

//letter spacing
$letter-spacing-small: 0.25rem;

//element heights
$input-height: 3.5rem;

//VIEW PAGE VARIABLES
$top-height: 15px;
$bottom-height: 15px;

$photo-width: 225px;
$photo-height: 225px;

$header-height: 190px;

$main-heading-height: 28px;
$sidebar-heading-height: 28px;

$profile-height: 150px;

$profile-line-height: 24px;

$main-view-side-padding: 0 10px;
$sidebar-view-side-padding: 0 10px;
