$color-white: #fff;
$color-black: #000;

//selected colors
$color-blue: #829cd0;
$color-blue-t75: rgba(129, 155, 207, 0.75);
$color-blue-t50: rgba(129, 155, 207, 0.5);

$color-dark-grey: #404756;
$color-dark-grey-t50: rgba(64, 71, 86, 0.5);

$color-light-grey: #a4abbd;
$color-light-grey-t10: rgba(164, 171, 189, 0.1);
$color-light-grey-t10: rgba(164, 171, 189, 0.05);

$color-light-red: #d08896;
$color-light-red-t50: rgba(208, 136, 150, 0.5);

$color-dark-red: #985563;

//margin and padding
$main-padding: 0 2rem;
