@use "../abstracts/" as a;
@use "../base/" as b;

.create {
  border: solid;
  border-color: pink;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-body {
    height: 100%;
    width: 100%;
    border: solid;
    border-color: blue;
    flex: 1;
  }
}
