@use "../abstracts/" as a;
@use "../base/" as b;

.create {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-body {
    height: 100%;
    width: 100%;
  }
}
.create-section {
  position: relative;
}
//limit width of create section for bigger devices
.create {
  @include a.respond(alltabs) {
    height: 95%;
    max-width: 700px;
    margin: 0 auto;
  }
}
