@use "../abstracts/" as a;
@use "../base/" as b;

.create {
  height: 100%;
  display: flex;
  flex-direction: column;

  &-body {
    height: 100%;
    width: 100%;
  }
}
.create-section {
  position: relative;
}
