@use "../abstracts/" as a;
@use "../base/" as b;

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    height: 26rem;
    opacity: 0.75;

    @include a.respond(iphone6) {
      height: 25rem;
    }
    @include a.respond(iphone5) {
      height: 16rem;
    }
    @include a.respond(sevenhundredshort) {
      height: 18rem;
    }
  }
  .text {
    text-align: center;
    padding: 0 1rem;
  }
}
