@use "../abstracts/" as a;

.view__education {
  padding: 2px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .education {
    &__heading-primary {
      font-size: 16px;
      color: a.$color-dark-grey;
      font-weight: 500;
      letter-spacing: a.$letter-spacing-small;
    }
    &__heading-secondary {
      font-size: 16px;
      color: a.$color-dark-grey;
      font-weight: 300;
      letter-spacing: a.$letter-spacing-small;
    }
    &__heading-tertiary {
      font-size: 14px;
      color: a.$color-blue-t75;
      font-weight: 200;
    }
    &__text {
      font-size: 14px;
      color: a.$color-dark-grey-t75;
      font-weight: 200;
    }
  }
  .education__item {
    min-height: 60px;
    display: flex;
    flex-direction: column;
  }
}
//if only one education item
.view__education.one-education-item {
  margin-top: 20px;
  .education {
    &__heading-primary {
      font-size: 20px;
    }
    &__heading-secondary {
      font-size: 20px;
    }
    &__text {
      font-size: 18px;
    }
    &__item {
      min-height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}
