@use "../abstracts/" as a;

//default, when there are three items in work experience
.view__work {
  padding: 2px;

  min-height: 300px;
  max-height: 450px;
  .work {
    &__heading-primary {
      font-size: 22px;
      color: a.$color-dark-grey;
      font-weight: 500;
      line-height: 20px;
    }
    &__heading-secondary {
      font-size: 18px;
      color: a.$color-dark-grey;
      font-weight: 300;
      line-height: 20px;
    }
    &__heading-tertiary {
      font-size: 16px;
      color: a.$color-dark-grey;
      font-weight: 300;
    }
    &__list {
      list-style-type: circle;
      list-style-position: outside;
      margin-left: 22px;
      padding: 2px 0;
    }
    &__text {
      font-size: 16px;
      color: a.$color-dark-grey-t75;
      font-weight: 200;
      line-height: 22px;
      //   &::before {
      //     content: "- ";
      //   }
    }
  }
}
//two work item
.view__work.two-work-item {
  .work {
    &__heading-primary {
      font-size: 22px;

      line-height: 36px;
    }
    &__heading-secondary {
      font-size: 18px;

      line-height: 32px;
    }
    &__heading-tertiary {
      font-size: 16px;
    }
    &__list {
      list-style-type: circle;
      list-style-position: outside;
      margin-left: 22px;
      padding: 5px 0;
    }
    &__text {
      font-size: 18px;
      line-height: 32px;
    }
  }
}
//one work item
.view__work.one-work-item {
  min-height: 225px;
  .work {
    &__heading-primary {
      font-size: 24px;

      line-height: 36px;
      margin-top: 20px;
    }
    &__heading-secondary {
      font-size: 20px;

      line-height: 32px;
    }
    &__heading-tertiary {
      font-size: 16px;
    }
    &__list {
      list-style-type: circle;
      list-style-position: outside;
      margin-left: 22px;
      padding: 5px 0;
    }
    &__text {
      font-size: 20px;
      line-height: 32px;
    }
  }
}
.work__item {
  padding: a.$main-view-side-padding;
  padding-top: 0px;
}
.work__item:nth-child(even) {
  background-color: a.$color-light-grey-t5;
}
