@use "../abstracts/" as a;

.view__contact {
  width: 100%;
  .contact {
    // &__cont {
    //   display: flex;
    //   flex-wrap: wrap;
    // }
    &__firstline {
      display: flex;
      .contact__text {
        font-size: 18px;
        font-weight: 200;
      }
    }
    &__firstline div:not(:last-child) div div {
      //targets autofitter nested divs
      margin-right: 25px;
    }
    &__secondline {
      display: flex;
    }
    &__secondline div:not(:last-child) div div {
      //targets autofitter nested divs
      margin-right: 25px;
    }
    &__text {
      display: inline;
      font-size: 18px;
      color: a.$color-dark-grey-t75;
      font-weight: 200;
      line-height: 1.5;
      text-transform: uppercase;
      padding: 5px 0;
    }
  }
}
