*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: overpass;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 800;
  line-height: 3rem;
  color: #404756;
}

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3rem;
  color: #404756;
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 400;
  color: #404756;
}

.text {
  font-size: 1.5rem;
  font-weight: 300;
  color: #404756;
}

.hidden-label__text {
  font-size: 1.8rem;
}

.text-large {
  font-size: 2.4rem;
  color: rgba(64, 71, 86, 0.5);
  font-weight: 100;
}

.margin-top-extra-small {
  margin-top: 1.5rem;
}

.margin-top-small {
  margin-top: 3rem;
}

.margin-top-medium {
  margin-top: 4.5rem;
}

.margin-top-large {
  margin-top: 6rem;
}

.margin-bottom-extra-small {
  margin-bottom: 1.5rem;
}

.margin-bottom-small {
  margin-bottom: 3rem;
}

.margin-bottom-medium {
  margin-bottom: 4.5rem;
}

.margin-bottom-large {
  margin-bottom: 6rem;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.question__icon {
  font-size: 4rem;
  color: rgba(129, 155, 207, 0.5);
}

.icon-wrap--circle {
  border: solid;
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(129, 155, 207, 0.75);
}

.check__icon {
  font-size: 1.4rem;
}

.carousel__navlink .icon-wrap--circle {
  border: none;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: #a4abbd;
  height: 2.2rem;
  width: 2.2rem;
  color: #fff;
}

.angle__icon--left,
.angle__icon--right {
  font-size: 4rem;
  height: 75%;
  width: 75%;
  color: rgba(129, 155, 207, 0.75);
}

.icon-wrap--largecircle {
  border: solid;
  display: inline-block;
  border-width: 1rem;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #829cd0;
}

.user__icon,
.user__icon--disabled {
  font-size: 8rem;
  color: #829cd0;
}

.plus__icon {
  color: #404756;
  margin-left: 1rem;
}

@font-face {
  font-family: "overpass";
  src: url("../fonts/overpass/Overpass-Black.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "overpass";
  src: url("../fonts/overpass/Overpass-ExtraBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "overpass";
  src: url("../fonts/overpass/Overpass-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "overpass";
  src: url("../fonts/overpass/Overpass-SemiBold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "overpass";
  src: url("../fonts/overpass/Overpass-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "overpass";
  src: url("../fonts/overpass/Overpass-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "overpass";
  src: url("../fonts/overpass/Overpass-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "overpass";
  src: url("../fonts/overpass/Overpass-Thin.ttf");
  font-weight: 100;
}
.btn, .btn:link, .btn:visited {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
}
.btn--square-blue {
  background-color: #829cd0;
  border-radius: 3px;
  color: #fff;
  padding: 1rem 1.5rem;
}
.btn--icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--create-navlink {
  border: solid;
  border-width: 2.5px;
  border-color: #829cd0;
  border-radius: 3px;
  color: #829cd0;
  padding: 1rem 0.75rem;
  margin: 0 0.25rem;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn--create-navlink.active {
  padding: 1.5rem 0.75rem;
  border: none;
  background-color: rgba(129, 155, 207, 0.75);
  color: #fff;
}
.btn--delete {
  border-color: #404756;
  background-color: #fff;
  border-radius: 3px;
  color: #404756;
  padding: 0.25rem 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.btn--delete-item {
  position: absolute;
  bottom: 1.2rem;
  right: 1rem;
  border-color: #404756;
  background-color: #fff;
  border-radius: 3px;
  border-width: 1px;
  color: #404756;
  padding: 0.25rem 0.25rem;
  font-size: 1rem;
  font-weight: 300;
}
.btn--save-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #404756;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 0.75rem 1.25rem;
  font-size: 1.2rem;
  font-weight: 600;
  transition: opacity 0.1s ease-in-out;
}
.btn--save-item:disabled {
  opacity: 0;
}
.btn--save-section {
  border-color: #404756;
  background-color: #fff;
  border-radius: 3px;
  color: #404756;
  padding: 0.25rem 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: opacity 0.1s ease-in-out;
}
.btn--save-section:disabled {
  opacity: 0;
}
.btn--add-item {
  display: inline;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-width: 2px;
  border-color: #404756;
  background-color: #fff;
  border-radius: 3px;
  padding: 0.25rem 1.5rem;
  color: #404756;
}

textarea {
  border-radius: 3px;
  border-width: 1.5px;
  border-color: rgba(164, 171, 189, 0.1);
  width: 95%;
  font-family: overpass;
  font-size: 1.6rem;
  font-weight: 200;
  color: #404756;
  padding: 0.5rem 1rem;
}

.input--standard {
  background-color: #fff;
  height: 3.5rem;
  width: 95%;
  border-width: 1.5px;
  border-color: rgba(164, 171, 189, 0.1);
  font-size: 1.6rem;
  font-weight: 300;
  color: #a4abbd;
  padding-left: 1rem;
}
.input--date {
  background-color: #fff;
  height: 3.5rem;
  width: 100%;
  border-width: 1.5px;
  border-color: rgba(164, 171, 189, 0.1);
  font-size: 1.4rem;
  font-weight: 400;
  color: #a4abbd;
  padding-left: 1rem;
}
.input--optional {
  margin-bottom: 1.75rem;
}

.create-section__form {
  position: absolute;
  bottom: 4rem;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  overflow: scroll;
  z-index: 2;
}
.create-section__form.open {
  width: 100%;
  top: 0rem;
  left: 0;
  transform: translate(0);
  background-color: #fff;
}
.create-section__form .form__header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.create-section__form .heading-tertiary {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 3px;
}

.create__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.form__dates {
  width: 95%;
  display: flex;
}

.input--date {
  width: 90%;
}

.form__element {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__error {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 1.2rem;
  font-size: 1.2rem;
  color: #d08896;
}

.create-section__preview {
  height: 100%;
  overflow: scroll;
  z-index: 1;
}
.create-section__preview .heading-tertiary {
  margin-left: 1rem;
}
.create-section__preview .preview__item:nth-child(even) {
  background-color: rgba(164, 171, 189, 0.1);
}
.create-section__preview .preview__item:nth-child(odd) {
  background-color: transparent;
}

.preview__item {
  padding: 1rem 1.5rem;
}

.save__warning {
  position: absolute;
  bottom: 1.2rem;
  right: 1rem;
  border: solid;
  background-color: rgba(208, 136, 150, 0.5);
  border-color: #985563;
  border-radius: 3px;
  border-width: 1px;
  color: #985563;
  padding: 0.25rem 0.25rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
}

.work__item {
  position: relative;
}
.work__item--heading {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 200;
  color: #404756;
}
.work__item--dates {
  display: flex;
  font-size: 1.4rem;
  color: #404756;
  font-weight: 200;
}

.duties__list {
  list-style: none;
  color: rgba(64, 71, 86, 0.5);
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.education__item {
  position: relative;
}
.education__item--heading {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 200;
  color: #404756;
}
.education__item--dates {
  display: flex;
  font-size: 1.4rem;
  color: #404756;
  font-weight: 200;
}
.education__item .description {
  width: 85%;
  color: rgba(64, 71, 86, 0.5);
}

.skill__item {
  position: relative;
  display: flex;
  align-items: center;
}
.skill__item--heading {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: #404756;
}

.header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
}
.header__shape {
  height: 8rem;
  width: 70%;
  background-color: #829cd0;
  border-radius: 0 0 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 4rem;
  width: auto;
}

.create-header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #829cd0;
  padding: 0 2rem;
}

.main {
  background-color: #fff;
  padding: 0 2rem;
  flex: 1;
}

.footer {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__shape {
  height: 8rem;
  width: 25%;
  background-color: #829cd0;
  border-radius: 5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .btn--icon-wrap {
  margin-left: 3rem;
  margin-top: 1rem;
}

.create-footer {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create-footer__shape {
  height: 8rem;
  width: 40%;
  background-color: #829cd0;
  border-radius: 5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-footer .heading-secondary {
  color: #fff;
  letter-spacing: 0.25rem;
}
.create-footer .btn--icon-wrap {
  margin-left: 3rem;
  margin-top: 1rem;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  z-index: 10;
}
.navigation__background {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(90%, 90%);
  z-index: 7;
  transition: all 0.25s ease;
}
.navigation__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  width: 0;
  opacity: 0;
  background-color: #829cd0;
}
.navigation__checkbox:checked ~ .navigation__background {
  height: 100vh;
  width: 100vw;
  transform: translate(0%, 0%);
  background-color: #829cd0;
}
.navigation__checkbox:checked ~ .navigation__background .navigation__nav {
  opacity: 1;
  height: 100%;
  width: 100%;
}
.navigation__icon {
  position: relative;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 4rem;
  height: 4px;
  background-color: #fff;
  display: inline-block;
  transition: all 0.2s;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -1.2rem;
}
.navigation__icon::after {
  top: 1.2rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.create-navbar {
  height: 12rem;
  width: 100%;
}
.create-navbar .heading-secondary {
  color: rgba(129, 155, 207, 0.75);
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.carousel__gradient {
  width: 100vw;
  mask-image: linear-gradient(to left, rgba(255, 255, 255, 0.301) 0%, #fff 20%, #fff 80%, rgba(255, 255, 255, 0.301) 100%);
}
.carousel__nav {
  padding: 2rem 2rem;
  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}
.carousel__nav::-webkit-scrollbar {
  display: none;
}
.carousel__navlink {
  position: relative;
  scroll-snap-align: center;
}

.save-section {
  margin-top: 2rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.save__text {
  font-size: 1.4rem;
  font-weight: 300;
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__img {
  height: 30rem;
  opacity: 0.75;
}
.home .text {
  text-align: center;
  padding: 0 1rem;
}

.create {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.create-body {
  height: 100%;
  width: 100%;
  flex: 1;
}

.create-section {
  position: relative;
}

.photo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.photo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo .user-photo {
  display: block;
  height: 12rem;
  border: solid;
  border-width: 1rem;
  border-radius: 50%;
  border-color: #404756;
}
.photo .input--standard {
  background-color: rgba(164, 171, 189, 0.05);
  width: 70%;
  border-width: 1.5px;
  border-color: rgba(164, 171, 189, 0.1);
  font-weight: 400;
  text-align: center;
}
.photo .input--standard:disabled {
  background-color: rgba(164, 171, 189, 0.1);
}
.photo .input__label {
  display: inline-block;
  position: relative;
  margin-top: calc(3.5rem - (3.5rem * 2));
  width: 70%;
  height: 3.5rem;
}
.photo .input--hidden-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
}

.checkbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem;
}

.checkbox--custom {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: #404756;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  border-radius: 50%;
}
.checkbox--custom::after {
  content: "";
  display: block;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #404756;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}

.photo__checkbox:checked + .photo__checkbox--label .checkbox--custom::after {
  opacity: 1;
}

.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.profile__textarea {
  width: 80%;
}

.workexperience {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.education {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.education .input--date {
  width: 45%;
}

.skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*# sourceMappingURL=App.css.map */
