@use "../abstracts/" as a;

.btn {
  &,
  &:link,
  &:visited {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

    font-size: 2rem;
    font-weight: 700;
    letter-spacing: a.$letter-spacing-small;
  }
  &--square-blue {
    background-color: a.$color-blue;
    border-radius: 3px;
    color: a.$color-white;
    padding: 1rem 1.5rem;
  }
  &--icon-wrap {
    @include a.flexCenterRow;
  }
  &--create-navlink {
    border: solid;
    border-width: 2.5px;
    border-color: a.$color-blue;
    border-radius: 3px;
    color: a.$color-blue;
    padding: 1rem 0.75rem;
    margin: 0 0.25rem;
    font-size: 1.8rem;
    font-weight: 400;

    &.active {
      padding: 1.5rem 0.75rem;
      border: none;
      background-color: a.$color-blue-t75;
      color: a.$color-white;
    }
  }
  &--delete {
    border-color: a.$color-dark-grey;
    background-color: a.$color-white;
    border-radius: 3px;
    color: a.$color-dark-grey;
    padding: 0.25rem 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}
