@use "../abstracts/" as a;
.create-section__form {
  position: absolute;
  bottom: 6rem;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  overflow: scroll;
  z-index: 2;
  @include a.respond(iphone5) {
    bottom: 10rem;
  }
  @include a.respond(sevenhundred) {
    //bottom: 16rem;
    scrollbar-color: black;
  }
  &.open {
    width: 100%;
    top: 0rem;
    left: 0;
    transform: translate(0);
    background-color: a.$color-white;
  }
  .form__header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .heading-tertiary {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 3px;
  }
}

//actual form is passed as children to this in each section
.create__form {
  @include a.flexCenterCol;
  background-color: a.$color-white;
}
.form__dates {
  width: 95%;
  display: flex;
  //   .enddate {
  //     //move datepicker over to line up, not fighting package css
  //     margin-left: 0%;
  //   }
}
.input--date {
  width: 90%;
}
.form__element {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &--date {
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .react-datepicker {
      transform: scale(1.5) translateY(0.7);
    }
  }
}
.form__error {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 1.2rem;
  font-size: 1.2rem;
  color: a.$color-light-red;
  //   &.startdate {
  //     margin-left: 2.5rem;
  //   }
  //   &.enddate {
  //     margin-left: 2.5rem;
  //   }
}
