@use "../abstracts/" as a;
.create-section__form {
  position: absolute;
  bottom: 6rem;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  overflow: scroll;
  z-index: 2;
  @include a.respond(iphone6) {
    bottom: 6.4rem;
  }
  @include a.respond(iphone5) {
    bottom: 6rem;
  }
  @include a.respond(widephone) {
    bottom: 6rem;
  }
  @include a.respond(smalltab) {
    bottom: 5rem;
  }
  @include a.respond(alltabs) {
    bottom: 5rem;
  }
  @include a.respond(ipadpro) {
    bottom: 40rem;
  }

  @include a.respond(weirdzone) {
    bottom: 0rem;
  }
  @include a.respond(sevenhundredshort) {
    bottom: 0rem;
  }
  @include a.respond(sevenhundred) {
    bottom: 5rem;
  }

  &.open {
    width: 100%;
    top: 0rem;
    left: 0;
    transform: translate(0);
    background-color: a.$color-white;
  }
  .form__header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  .heading-tertiary {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 3px;
  }
}

//actual form is passed as children to this in each section
.create__form {
  @include a.flexCenterCol;
  background-color: a.$color-white;
}
.form__dates {
  width: 95%;
  display: flex;
  .text {
    margin-top: 5px;
  }
  .date-dash {
    width: 5.5rem;
    font-size: 1.5rem;
  }
  .date-text {
    padding: 0 1rem;
  }
}
.input--date {
  width: 90%;
}
.form__element {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &--date {
    position: relative;
    width: 95%;
  }
}
.form__error {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 1.2rem;
  font-size: 1.2rem;
  color: a.$color-light-red;
  //   &.startdate {
  //     margin-left: 2.5rem;
  //   }
  //   &.enddate {
  //     margin-left: 2.5rem;
  //   }
}
