@use "../abstracts/" as a;

.fitter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: a.$color-dark-grey;
  line-height: 1.2; //normalize across browsers
  &__name {
    height: inherit;
    width: inherit;
    font-weight: 800;
    text-transform: uppercase;
  }
  &__profession {
    height: inherit;
    width: inherit;
    font-weight: 100;
    text-transform: uppercase;
  }
  &__profile {
    min-height: 100px;
    height: inherit;
    max-height: a.$profile-height;
    width: inherit;
    font-weight: 100;
    color: a.$color-dark-grey;
    line-height: a.$profile-line-height;
  }
}
