@use "../abstracts/" as a;
.create-navbar {
  height: 14rem;
  width: 100%;

  .heading-secondary {
    color: a.$color-blue-t75;
  }
}

.carousel {
  @include a.flexCenterCol;
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  &__gradient {
    width: 100vw;

    mask-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.301) 0%,
      a.$color-white 20%,
      a.$color-white 80%,
      rgba(255, 255, 255, 0.301) 100%
    );
  }
  &__nav {
    padding: 2rem 2rem;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none; //hide scrollbar firefox
    //hide scrollbar chrome
    &::-webkit-scrollbar {
      display: none;
    }
    //scroll-snap-type: x mandatory;
    //scroll-padding: 50%;
  }
  &__navlink {
    position: relative;
    scroll-snap-align: center;
  }
}
