@use "../abstracts/" as a;

//PRIMARY LAYOUT HEADER
.header {
  height: 8rem;
  display: flex;
  justify-content: flex-end;
  &__shape {
    height: 8rem;
    width: 70%;
    max-width: 45rem;
    background-color: a.$color-blue;
    border-radius: 0 0 0 5rem;
    @include a.flexCenterRow;
  }
}

// .logo {
//   height: 4rem;
//   width: auto;
// }
.logo__wrapper {
  height: 4rem;
  width: auto;
  margin-top: 3px;
}
.logo-a {
  color: a.$color-white;
  font-size: 4.25rem;
  font-weight: 800;
  border-top: solid;
  border-width: 4px;
  line-height: 0.45;
  font-family: muli;
  margin-top: 0px;
  margin-right: 2px;
  letter-spacing: a.$letter-spacing-small;
}
.logo-b {
  color: a.$color-white;
  font-size: 4.5rem;
  font-weight: 800;
  border-bottom: solid;
  border-width: 4px;
  line-height: 0.9;
  font-family: muli;
  margin-top: -15px;
  letter-spacing: a.$letter-spacing-small;
}

//CREATE PAGE LAYOUT HEADER {
.create-header {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: a.$color-blue;
  padding: a.$main-padding;
  @include a.respond(alltabs) {
    height: 10rem;
    max-width: 40rem;
    border-radius: 0 0 5rem 0;
    justify-content: space-evenly;
  }
}
