@use "../abstracts/" as a;

.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    position: relative;
    @include a.flexCenterRow;
    height: 5rem;
    width: 5rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    z-index: 10;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(90%, 90%);
    z-index: 7;
    transition: all 0.25s ease;
  }
  &__nav {
    @include a.flexCenterRow;
    height: 0;
    width: 0;
    opacity: 0;
    background-color: a.$color-blue;
  }
  //functionality/animation
  &__checkbox:checked ~ &__background {
    height: 100vh;
    width: 100vw;
    transform: translate(0%, 0%);
    background-color: a.$color-blue;
  }
  &__checkbox:checked ~ &__background &__nav {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
  //ICON
  &__icon {
    position: relative;
    &,
    &::before,
    &::after {
      width: 4rem;
      height: 4px;
      background-color: a.$color-white;
      display: inline-block;
      transition: all 0.2s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      top: -1.2rem;
    }
    &::after {
      top: 1.2rem;
    }
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
