@use "../abstracts/" as a;

.save-section {
  margin-top: 2rem;
  padding: 1.5rem 0 0 0;
  @include a.flexCenterCol;
}
.save__text {
  font-size: 1.6rem;
  font-weight: 400;
  color: a.$color-blue;
}
